body {
    padding-top: 60px;
}

.navbar-brand img {
    max-width: 50px;
}

.navbar-inverse {
    background: black;
}

.navbar-inverse .navbar-nav > li.active > a {
    background: red;
}

ul.ideas{list-style: none;padding:0px;}
ul.ideas li{position: relative;margin: 5px;
    max-width:124px;float:left;position:relative;
    border:1px solid grey;}
ul.ideas li a{position: absolute;background: black;color:white;padding:3px;width: 100%;}
.bar {
    display: inline-block;

    fill: teal;
}
.barweekend{fill:red;}
.sunday{fill: #DFC6E9;}
.saturday{fill:#F2DEDE;}
.friday{fill: #FCF8E3;}
.thursday{fill:#D9EDF7;}
.wednesday{fill:#DFF0D8;}
.tuesday{fill:#ebebeb;}
.monday{fill:#FFFFFF;}
.chartarea{background:#b8b8b8;overflow:hidden;  position: relative;
    z-index: 2;}
.ideaItems{position:absolute;top:0px;}

div.tooltip {
    position: absolute;
    text-align: center;

    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


#map_canvas {
    min-height: 400px !important;
    min-width: 400px !important;
    width: 100%;
    position: relative !important;
}

.filters a{padding-left:15px;padding-right:15px;}

.loading {

    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    top: 0;
    left: 0;

}
.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #ffffff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #ffffff;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #ffffff;
        height: 5em;
    }
}



svg {
    font: 10px sans-serif;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

