<div class="col-md-10">
  
	<div class="row">
		<div class="pull-left">
			<h1>Dashboard Idea Generators</h1>
		</div>
		<div class="pull-right">
			<a href="#" ng-click="resetData(currentCity)">Reset</a>
			<a href="#" ng-repeat="city in ['London', 'Paris']" ng-click="changeCity(city)">{{city}}</a>
		</div>
	</div>

<style>
	ul.ideas{list-style: none;padding:0px;}
	ul.ideas li{position: relative;margin: 5px;
	max-width:124px;float:left;position:relative;
	border:1px solid grey;}
	ul.ideas li a{position: absolute;background: black;color:white;padding:3px;width: 100%;}
</style>



	<ul class="ideas">		
    <idea ng-repeat="idea in ideas | orderBy:'dates.start_date'"   idea="idea"></idea>
	</ul>

</div><!--md-10 -->


  