<div class="col-md-10" style="position:relative">
	<div class="loading" style="" ng-show="loadingState">
		<div class="loader">Loading...</div>
	</div>
	<div class="row"></div>
	<div class="row">
		<div class="map col-md-12">




		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="pull-left">
				<h1>Dashboard Idea Generators</h1>
			</div>
			<div class="pull-right filters">
				<a href="#" ng-click="resetData(currentCity)">Reset City Data</a>
				<a href="#" ng-repeat="city in ['London', 'Paris']" ng-click="changeCity(city)">{{city}}</a>
			</div>
		</div>

	</div>




	<div class="myform row">
		<form>
			<label for="datefrom">Date From</label>
			<input type="date" ng-model="datefrom"/>
			<label for="dateto">Date To</label>
			<input type="date" ng-model="dateto"/>
			<input type="submit" value="Update Data" ng-click="updateData(datefrom,dateto)"/>
		</form>
	</div>



	<div class="chartarea">
		<bar-chart data="ideas"></bar-chart>
	</div>
	<ul class="ideas">		
    <idea ng-repeat="idea in ideas | orderBy:'dates.start_date'" idea="idea" datefrom="datefrom" dateto="dateto"></idea>
	</ul>

</div><!--md-10 -->


  